{extend name="$layout" /}
{block name="title"}
	{$title}
{/block}


{block name="content"} 
	{notempty name="topbtn"}
    {volist name="topbtn" id="btn"}
    <button class="{$btn.class}" type="button" onclick="app.url('{$btn.href}')">{$btn.title}</button>
    {/volist} 
    {/notempty}
     
    {notempty name="submit_data"} 
    <form class="form-horizontal" 
                {if condition="!empty($submit_data.onsubmit)"}onsubmit="{$submit_data.onsubmit}" {/if}
                {if condition="!empty($submit_data.action)"}action="{$submit_data.action}" {/if}
                id="ajaxForm" method="post">

        {notempty name="forms"}
        {volist name="forms" id="form"}
            {php}
                $form['value']=trim($form['value']);
            {/php}
            {switch name="form.type"}
                {case value="text"}
                    {include file="./app/common/form/text.html"}
                {/case}
                {case value="iconpicker"}
                    {include file="./app/common/form/iconpicker.html"}
                {/case}
                {case value="text"}
                    {include file="./app/common/form/textarea.html"}
                {/case}
                {case value="email"}
                    {include file="./app/common/form/email.html"}
                {/case}
                {case value="static"}
                    {include file="./app/common/form/static.html"}
                {/case}
                {case value="password"}
                    {include file="./app/common/form/password.html"}
                {/case}
                {case value="image"}
                    {include file="./app/common/form/image.html"}
                {/case}
                {case value="ueditor"}
                    {include file="./app/common/form/ueditor.html"}
                {/case}
                {case value="checkbox"}
                    {include file="./app/common/form/checkbox.html"}
                {/case}
                {case value="select"}
                    {include file="./app/common/form/select.html"}
                {/case}
                {case value="radio"}
                    {include file="./app/common/form/radio.html"}
                {/case}
                {case value="hidden"}
                    {include file="./app/common/form/hidden.html"}
                {/case}
                {case value="switch"}
                    {include file="./app/common/form/switch.html"}
                {/case}
                {case value="date"}
                    {include file="./app/common/form/date.html"}
                {/case}
                {case value="daterange"}
                    {include file="./app/common/form/daterange.html"}
                {/case}
                {case value="color"}
                    {include file="./app/common/form/color.html"}
                {/case}
                {case value="phone"} 
                    {include file="./app/common/form/phone.html"}
                {/case}
                {case value="line"}
                    <div class="hr-line-dashed"></div> 
                {/case}
                {case value="hr"}
                    <hr>
                {/case}
                {case value="control"}
                    {$form.content}
                {/case}
                {case value="tags"}
                    {include file="./app/common/form/tags.html"}
                {/case} 
                {case value="web_theme_select"}
                    {include file="./app/common/form/web_theme_select.html"}
                {/case} 
                {default/}
            {/switch}
        {/volist}
        {/notempty}
 

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="{$submit_data.btnclass}" type="{$submit_data.btntype}">{$submit_data.title}</button>
                {notempty name="pid"}
                <input type="hidden" name="{$pid}" value="{$pvalue}">
                {/notempty}
            </div>
        </div>
    </form> 
    {/notempty}
{/block}