/.idea
/.vscode
/runtime
*.log
.env
.DS_Store
/config/database.php
/static/install/install.lock
/static/web
/app/web/view/home/xt
/app/web/view/home/xtocn
/app/web/view/home/yun
/app/web/view/home/blog
/app/web/view/home/caishui
/app/web/view/home/xui
/app/web/view/home/kongy
/app/web/view/home/xtysb
/app/web/view/home/life
/app/web/view/home/gqian
/app/web/view/home/v10
/uploads
/app/fans
/app/user
/app/shop
/app/admin/view/admin/wui
/addons/ucenter
/addons/yunapp
/web/theme/web/gqian
/web/theme/web/v10