{php}
$model=new \app\web\model\WebNav();
    $nav_data=json_encode($model->get_data()); 
{/php}
<script type="text/javascript" src="/static/js/jstree/jstree.js"></script>
<link rel="stylesheet" href="/static/js/jstree/themes/default/style.css" />
栏目
<div id="async_html_1">

</div>
<script type="text/javascript">
    $('#async_html_1').jstree({
        "core": {
            "data": {$nav_data|raw}
        },
        "plugins" : [ 
            "themes","json_data"
        ],
        "themes":{
            "theme" : "classic",
            "dots" : true,
            "icons" : true
        },
    }); 
    $('#async_html_1').on("changed.jstree", function (e, data) {  
        location.href=data.node.original.link;     
    }); 
</script>