<script type="text/javascript" src="/public/libs/jstree/jstree.js"></script>
<link rel="stylesheet" href="/public/libs/jstree/themes/default/style.css" />
栏目
<div id="async_html_1">
    
</div>
<script type="text/javascript">
    $('#async_html_1').jstree({
        "core": {
            "data": {
                "url": function (node) {
                    var url = node.id === '#'?'/admin.php/web/api/getnavs?id=0':'/admin.php/web/api/getnavs?id=' + node.id;
                    return url;
                },
                "data": function (node) {
                    if (node.id != "#") {
                        return { "sid": node.id };
                    }
                }
            }
        },
        "plugins" : [ 
            "themes","json_data"
        ],
        "themes":{
            "theme" : "classic",
            "dots" : true,
            "icons" : true
        },
    }); 
    $('#async_html_1').on("changed.jstree", function (e, data) {  
        location.href=data.node.original.link;     
    }); 
</script>