
<li class="open">
    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-wrench"></i><span class="sidebar-mini-hide">基础设置</span></a>
    <ul>
    	                                        <li>
            <a href="/admin.php/admin/setting/basic" class="">基本设置</a>
        </li>
                                                <li>
            <a href="/admin.php/admin/manager/index" class="active">管理员</a>
        </li>
                                                <li>
            <a href="/admin.php/admin/roles/index" class="">角色管理</a>
        </li>
                                                <li>
            <a href="/admin.php/admin/logs/index" class="">日志管理</a>
        </li>
                                                <li>
            <a href="/admin.php/admin/database/index" class="">数据库管理</a>
        </li>
          
    </ul>
</li>