<?xml version="1.0" encoding="UTF-8"?>
<config>
	<item name="app_open" title="站点开关" type="switch" tips="" sort="1" attr="action:config" tab="basic" group="基本">false</item>
	<item name="app_name" title="站点名称" type="text" tips="调用方法:{$config.app_name|default=''}" sort="1" attr="" tab="basic" group="基本"></item>
	<item name="app_mobile" title="联系号码" type="text" tips="调用方法:{$config.app_mobile|default=''}" sort="1" attr="" tab="basic" group="基本"></item>
	<item name="app_wechat" title="微信号码" type="text" tips="调用方法:{$config.app_wechat|default=''}" sort="1" attr="" tab="basic" group="基本"></item>
	<item name="app_alipay" title="支付宝" type="text" tips="调用方法:{$config.app_alipay|default=''}" sort="1" attr="" tab="basic" group="基本"></item>
	<item name="app_beian" title="备案号" type="text" tips="调用方法:{$config.app_beian|default=''}" sort="1" attr="" tab="basic" group="基本"></item>
	<item name="app_test" title="测试" type="text" tips="调用方法:{$config.app_test|default=''}" sort="1" attr="" tab="other" group="其它"></item>
	<item name="app_date" title="时间" type="date" tips="调用方法:{$config.app_date|default=''}" sort="1" attr="" tab="other" group="其它"></item>
	<item name="app_daterange" title="时间" type="daterange" tips="" sort="1" attr="" tab="other" group="其它"></item>
	<item name="app_color" title="颜色" type="color" tips="" sort="1" attr="" tab="other" group="其它"></item>
	<item name="app_hone" title="电话" type="phone" tips="" sort="1" attr="" tab="other" group="其它"></item>
</config>
