<div class="header">
    <div class="wrapper">
        <div class='logo fl'>
            <img style="margin-top: 4px;" src="{$config.web_logo|default='__STATIC__/img/logo.png'}" alt="logo">
        </div>
        <div class='nav fl'>
            <ul class='nav_ul'>
                <li class=""><a href="/" target="_self">首页</a></li>
                <li class="" ><a href="{:__URL('article/index')}" target="_self">资讯</a>
                    <ul class="fun_center" >
                        <li><a href="##" target="_self" ><span>test</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>
</div>