.banner{
	height: auto;
	width: 100%;
	text-align: center;
	position: relative;
}
.banner img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	vertical-align: middle;
}
.banner .tab_nav{
	height: 92px;
	background: #fff;
	position: absolute;
	bottom: -50px;
	box-shadow:2px 2px 5px #eee;
	z-index: 100;
}
.banner .tab_nav li{
	float: left;
	line-height: 92px;
}
.banner .tab_nav li:hover a{
	color: #00aeff;
}
.banner .tab_nav li a{
	display: inline-block;
	line-height: 37px;
	padding: 0 145px;
	border-right: 1px solid #eee;
	
}
/*O2O解决方案*/
.o2o{
	height: 820px;
	width: 100%;
	background: url("../img/o2o.png")/*tpa=http://www.we7shop.com/Public/static/index/img/o2o.png*/ no-repeat center;
	background-size: cover;
	
}

.o2o .wrapper{
	position: relative;
}
.o2o dl{
	width: 265px;
	height: 90px;
	position: absolute;
	font-size: 18px;
	color: #3e3e3e;
	line-height: 34px;
}
.o2o dd{
	line-height: 50px;
}
.o2o dl.one{
	left: 50px;
	top: 320px;
}
.o2o dl.one img{
	position: absolute;
	left: 200px;
	top: -85px;
}
.o2o dl.two{
	left: 220px;
	top: 590px;
}
.o2o dl.three{
	left: 860px;
	top: 150px;
}
.o2o dl.four{
	left: 870px;
	top: 520px;
}
.o2o dl.center{
	width: 390px;
	text-align: center;
	font-size: 34px;
	color: #000;
	left: 350px;
	top: 350px;
	line-height: 60px;
}
.o2o dl dd{
	font-size: 13px;
	color: #adadad;
	line-height: 19px;
}
/*多商户*/
.Multi{
	height: 805px;
	width: 100%;
	background: #f5f8fa;
	overflow: hidden;
	text-align: center;
}
.title{
	margin: 0 auto;
	width: 755px;
	margin-top: 83px;
	line-height: 73px;
	font-size: 34px;
	color: #010101;
}
.title p{
	line-height: 31px;
	font-size: 17px;
	font-weight: lighter;
}
.Multi-contain{
	margin-top: 80px;
}
.Multi-contain ul{
	text-align: left;
	width: 565px;
}
.Multi-contain ul li{
	height: 80px;
	width: 550px;
	background: #fff;
	margin-bottom: 15px;
	padding-left: 20px;
	box-shadow: 3px 3px 15px #d8d8d8;
	-webkit-transition: all .2s ease-in .1s;
  	transition: all .1s ease-in ;
}
.Multi-contain ul li p{
	float: left;
	line-height: 80px;
	font-size: 33px;
	color: #23b9ff;
	}
.Multi-contain ul li dl{
	float:right;
	width: 430px;
	margin-left:20px;
	color: #a4a4a4;
	margin-right:50px;
}
.Multi-contain ul li dl dt{
	line-height: 80px;
	/*-webkit-transition: all .3s ease-in .5s;
  	transition: all .3s ease-in .5s;*/
}
.Multi-contain ul li dl dd{
	/*-webkit-transition: all .3s ease-in .1s;
  	transition: all .3s ease-in .1s;*/
	font-size: 13px;
	line-height: 20px;
	display: none;
}
.Multi-contain ul li:hover{
	height:140px;
	background: url("../img/multi-banner.png")/*tpa=http://www.we7shop.com/Public/static/index/img/multi-banner.png*/ no-repeat;
	background-size: cover;
	box-shadow: 3px 3px 15px #d8d8d8;
	
}
.Multi-contain ul li:hover p{
	color: #fff;
}
.Multi-contain ul li:hover dl dt{
	margin-top: 20px;
	line-height: 50px;
	color: #fff;
}
.Multi-contain ul li:hover dl dd{
	display: block;
	color: #fff;
}
.marketing{
	height: 870px;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.marketing-contain .marketings{
	width: 260px;
	height: 340px;
	float: left;
	margin-right: 35px;
	position: relative;
}
.marketing-contain .marketings p{
	position: absolute;
	top: 255px;
	left:215px;
	font-size: 64px;
	color: #cbeafa;
}
.marketing-contain .marketings dl{
	width: 200px;
	margin:auto;
	margin-top: 100px;
	font-size: 14px;
	color: #686868;
	line-height: 26px;
	font-weight: lighter;
}
.marketing-contain .marketings dl dt{
	font-weight: normal;
	font-size: 17px;
	line-height: 85px;
	color: #3e3e3e;
	
}
.marketing-contain .marketings.four{
	margin: 0;
}
.marketing-contain .marketings.one,.marketing-contain .marketings.three{
	margin-top: 90px;
}
.marketing-contain .marketings.two,.marketing-contain .marketings.four{
	margin-top: 140px;
}
.marketing-contain .marketings.one{
	background:url("../img/s_06.png")/*tpa=http://www.we7shop.com/Public/static/index/img/s_06.png*/ no-repeat;
}
.marketing-contain .marketings.two{
	background:url("../img/s_07.png")/*tpa=http://www.we7shop.com/Public/static/index/img/s_07.png*/ no-repeat;
}
.marketing-contain .marketings.three{
	background:url("../img/s_08.png")/*tpa=http://www.we7shop.com/Public/static/index/img/s_08.png*/ no-repeat;
}
.marketing-contain .marketings.four{
	background:url("../img/s_09.png")/*tpa=http://www.we7shop.com/Public/static/index/img/s_09.png*/ no-repeat;
}
