{extend name="$layout" /}

{block name="content"}    
    <div class="row"> 
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a class="block block-link-hover2 text-center" href="{:url('article/index')}">
                <div class="block-content block-content-full bg-primary">
                    <i class="si si-notebook fa-4x text-white"></i>
                    <div class="font-w600 text-white-op push-15-t">文章管理</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a class="block block-link-hover2 text-center" href="{:url('about/index')}">
                <div class="block-content block-content-full bg-success">
                    <i class="si si-screen-tablet fa-4x text-white"></i>
                    <div class="font-w600 text-white-op push-15-t">页面管理</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a class="block block-link-hover2 text-center" href="{:url('keyword/index')}">
                <div class="block-content block-content-full bg-primary-dark">
                    <i class="si si-key fa-4x text-white"></i>
                    <div class="font-w600 text-white-op push-15-t">关键字</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a class="block block-link-hover2 text-center" href="{:url('link/index')}">
                <div class="block-content block-content-full bg-modern">
                    <i class="si si-link fa-4x text-white"></i>
                    <div class="font-w600 text-white-op push-15-t">友情链接</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a class="block block-link-hover2 text-center" href="{:url('relay/index')}">
                <div class="block-content block-content-full bg-amethyst">
                    <i class="si si-size-fullscreen fa-4x text-white"></i>
                    <div class="font-w600 text-white-op push-15-t">放灯片</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a class="block block-link-hover2 text-center" href="{:url('nav/index')}">
                <div class="block-content block-content-full bg-city">
                    <i class="si si-directions fa-4x text-white"></i>
                    <div class="font-w600 text-white-op push-15-t">导航条</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <!-- Icon Based --> 
            <div class="block block-themed">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                        </li>
                    </ul>
                    <h3 class="block-title">每日动态</h3>
                </div>
                <div class="block-content">
                    <ul class="list list-timeline pull-t">
                        <!-- Facebook Notification -->
                        <li>
                            <div class="list-timeline-time">3 hrs ago</div>
                            <i class="fa fa-facebook list-timeline-icon bg-default"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">+ 290 Page Likes</p>
                                <p class="font-s13">This is great, keep it up!</p>
                            </div>
                        </li>
                        <!-- END Facebook Notification -->

                        <!-- Photo Notification -->
                        <li>
                            <div class="list-timeline-time">4 hrs ago</div>
                            <i class="fa fa-picture-o list-timeline-icon bg-flat"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">+ 3 New Photos</p>
                                <p class="font-s13">Travel hacks and ideas!</p>
                                <!-- Gallery (.js-gallery class is initialized in App() -> uiHelperMagnific()) -->
                                <!-- For more info and examples you can check out http://dimsemenov.com/plugins/magnific-popup/ -->
                                <div class="row items-push js-gallery">
                                    <div class="col-sm-6 col-lg-4">
                                        <a class="img-link" href="assets/img/photos/photo2@2x.jpg">
                                            <img class="img-responsive" src="assets/img/photos/photo2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <a class="img-link" href="assets/img/photos/photo8@2x.jpg">
                                            <img class="img-responsive" src="assets/img/photos/photo8.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <a class="img-link" href="assets/img/photos/photo16@2x.jpg">
                                            <img class="img-responsive" src="assets/img/photos/photo16.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- END Photos Notification -->

                        <!-- Twitter Notification -->
                        <li>
                            <div class="list-timeline-time">12 hrs ago</div>
                            <i class="fa fa-twitter list-timeline-icon bg-info"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">+ 1150 Followers</p>
                                <p class="font-s13">You’re getting more and more followers, keep it up!</p>
                            </div>
                        </li>
                        <!-- END Twitter Notification -->

                        <!-- System Notification -->
                        <li>
                            <div class="list-timeline-time">1 day ago</div>
                            <i class="fa fa-database list-timeline-icon bg-smooth"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">Database backup completed!</p>
                                <p class="font-s13">Download the <a href="javascript:void(0)">latest backup</a>.</p>
                            </div>
                        </li>
                        <!-- END System Notification -->

                        <!-- Social Notification -->
                        <li>
                            <div class="list-timeline-time">2 days ago</div>
                            <i class="fa fa-user-plus list-timeline-icon bg-success"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">+ 3 Friend Requests</p>
                                <ul class="nav-users push-10-t push">
                                    <li>
                                        <a href="base_pages_profile.html">
                                            <img class="img-avatar" src="assets/img/avatars/avatar2.jpg" alt="">
                                            <i class="fa fa-circle text-success"></i> Helen Silva
                                            <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="base_pages_profile.html">
                                            <img class="img-avatar" src="assets/img/avatars/avatar9.jpg" alt="">
                                            <i class="fa fa-circle text-success"></i> George Stone
                                            <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="base_pages_profile.html">
                                            <img class="img-avatar" src="assets/img/avatars/avatar2.jpg" alt="">
                                            <i class="fa fa-circle text-success"></i> Sara Holland
                                            <div class="font-w400 text-muted"><small>Photographer</small></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- END Social Notification -->

                        <!-- Photo Notification -->
                        <li>
                            <div class="list-timeline-time">6 days ago</div>
                            <i class="fa fa-picture-o list-timeline-icon bg-flat"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">+ 2 New Photos</p>
                                <p class="font-s13">Went hiking and had a great time!</p>
                                <!-- Gallery (.js-gallery class is initialized in App() -> uiHelperMagnific()) -->
                                <!-- For more info and examples you can check out http://dimsemenov.com/plugins/magnific-popup/ -->
                                <div class="row items-push js-gallery">
                                    <div class="col-sm-6 col-lg-4">
                                        <a class="img-link" href="assets/img/photos/photo13@2x.jpg">
                                            <img class="img-responsive" src="assets/img/photos/photo13.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <a class="img-link" href="assets/img/photos/photo14@2x.jpg">
                                            <img class="img-responsive" src="assets/img/photos/photo14.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- END Photo Notification -->

                        <!-- System Notification -->
                        <li>
                            <div class="list-timeline-time">1 week ago</div>
                            <i class="fa fa-cog list-timeline-icon bg-primary-dark"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">System updated to v2.02</p>
                                <p class="font-s13">Check the complete changelog at the <a href="javascript:void(0)">activity page</a>.</p>
                            </div>
                        </li>
                        <!-- END System Notification -->
                    </ul>
                </div>
            </div>
            <!-- END Icon Based --> 
        </div>
        
        <div class="col-lg-6">
            <!-- Activity Timeline --> 
            <div class="block">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                        </li>
                    </ul>
                    <h3 class="block-title">统计报表</h3>
                </div>

                <div class="block-content">
                    <ul class="list list-activity push">
                        <li>
                            <i class="si si-wallet text-success"></i>
                            <div class="font-w600">New sale ($15)</div>
                            <div><a href="javascript:void(0)">Admin Template</a></div>
                            <div><small class="text-muted">3 min ago</small></div>
                        </li>
                        <li>
                            <i class="si si-pencil text-info"></i>
                            <div class="font-w600">You edited the file</div>
                            <div><a href="javascript:void(0)"><i class="fa fa-file-text-o"></i> Documentation.doc</a></div>
                            <div><small class="text-muted">15 min ago</small></div>
                        </li>
                        <li>
                            <i class="si si-plus text-success"></i>
                            <div class="font-w600">New user</div>
                            <div><a href="javascript:void(0)">StudioWeb - View Profile</a></div>
                            <div><small class="text-muted">2 hours ago</small></div>
                        </li>
                        <li>
                            <i class="si si-close text-danger"></i>
                            <div class="font-w600">Project deleted</div>
                            <div><a href="javascript:void(0)">Line Icon Set</a></div>
                            <div><small class="text-muted">4 hours ago</small></div>
                        </li>
                        <li>
                            <i class="si si-wrench text-warning"></i>
                            <div class="font-w600">Core v2.5 is available</div>
                            <div><a href="javascript:void(0)">Update now</a></div>
                            <div><small class="text-muted">6 hours ago</small></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{/block}