<?xml version="1.0" encoding="UTF-8"?>
<config>
	<item name="web_name" title="站点名称" type="text" tips="调用：{$config.web_name|default=''}" sort="1" attr="" tab="basic" group="基本"></item>
	<item name="web_logo" title="logo" type="image" tips="调用：{$config.web_logo|default=''}" sort="1" attr="" tab="basic" group="基本"></item>
	
	
	
	<item name="web_keywords" title="关键字" type="tags" tips="调用：{$config.web_keywords|default=''}" sort="1" attr="" tab="basic" group="基本"></item>
	<item name="web_description" title="网站描述" type="textarea" tips="调用：{$config.web_description|default=''}" sort="1" attr="" tab="basic" group="基本"></item> 
	<item name="web_beian" title="备案号" type="text" tips="调用：{$config.web_beian|default=''}" sort="1" attr="" tab="basic" group="基本"></item>

	<item name="web_mobile" title="手机号" type="text" tips="{$config.web_mobile|default=''}" sort="1" attr="" tab="link" group="联系"></item>
	<item name="web_wechat" title="微信" type="text" tips="{$config.web_wechat|default=''}" sort="1" attr="" tab="link" group="联系"></item>
	<item name="web_wema" title="微信收款码" type="image" tips="{$config.web_wema|default=''}" sort="1" attr="" tab="link" group="联系"></item>
	<item name="web_alipay" title="支付宝" type="text" tips="{$config.web_alipay|default=''}" sort="1" attr="" tab="link" group="联系"></item>
	<item name="web_wang" title="旺旺号" type="text" tips="{$config.web_wang|default=''}" sort="1" attr="" tab="link" group="联系"></item>
	<item name="web_address" title="地址" type="text" tips="{$config.web_address|default=''}" sort="1" attr="" tab="link" group="联系"></item>
	<item name="web_link" title="联系人" type="text" tips="{$config.web_link|default=''}" sort="1" attr="" tab="link" group="联系"></item>

</config>
